/* Icons */
@font-face {
	font-family: icons;
	font-display: swap;
	src:
		url("@fonts/Icons.woff2") format("woff2"),
		url("@fonts/Icons.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

/* Satoshi */
@font-face {
	font-family: "Satoshi";
	src:
		url("@fonts/Satoshi-Light.woff2") format("woff"),
		url("@fonts/Satoshi-Light.woff") format("woff2"),
		url("@fonts/Satoshi-Light.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Satoshi";
	src:
		url("@fonts/Satoshi-Regular.woff2") format("woff"),
		url("@fonts/Satoshi-Regular.woff") format("woff2"),
		url("@fonts/Satoshi-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

/* Chillax */
@font-face {
	font-family: "Chillax";
	src:
		url("@fonts/Chillax-Light.woff2") format("woff"),
		url("@fonts/Chillax-Light.woff") format("woff2"),
		url("@fonts/Chillax-Light.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Chillax";
	src:
		url("@fonts/Chillax-Regular.woff2") format("woff"),
		url("@fonts/Chillax-Regular.woff") format("woff2"),
		url("@fonts/Chillax-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

/* Gambetta */
@font-face {
	font-family: "Gambetta";
	src:
		url("@fonts/Gambetta-LightItalic.woff2") format("woff"),
		url("@fonts/Gambetta-LightItalic.woff") format("woff2"),
		url("@fonts/Gambetta-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}
