.footer {
	@include adaptiveValue("padding-block", 64, 24);
	$containerWidth: 1600 + $containerPadding;
	background-color: oklch(var(--bg-muted-primary-alpha));
	&__container {
		max-width: toRem($containerWidth);
	}
	&__top {
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(auto-fill, minmax(toRem(180), 1fr));
		row-gap: toRem(32);
		@include adaptiveValue("column-gap", 64, 20);

		@media (min-width: $tablet) {
			grid-template-columns: minmax(toRem(460), 1fr) repeat(auto-fit, minmax(toRem(280), 1fr));
		}

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 32);
		}
	}

	&__item {
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		gap: toRem(12);
		align-items: center;

		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}

	&__goto {
		i {
			&::before {
				transform: rotate(-90deg);
			}
		}
	}

	&__copyright {
		font-size: toRem(12);
		line-height: 180%;
		font-family: "Chillax";
		color: oklch(var(--text-muted));
	}
}

.item-footer {
	display: flex;
	flex-direction: column;
	@include adaptiveValue("row-gap", 32, 20);

	&__header {
		svg {
			max-height: toRem(22);
			flex-basis: toRem(22);
		}
	}

	&__title {
		@include adaptiveValue("font-size", 20, 18);
		font-weight: 300;
		line-height: 140%;
		letter-spacing: toRem(1);
	}

	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-block-end: toRem(16);
		}
		&:has(+ &--button) {
			margin-block-end: toRem(32);
		}
	}

	&__link {
		line-height: 160%;
		letter-spacing: toRem(1.5);
		text-transform: uppercase;

		@extend .transition-colors;

		&:not(.button) {
			color: oklch(var(--text-muted));
			&:hover {
				color: oklch(var(--text-primary));
			}
		}
	}
}
