.header {
	@include adaptiveValue("padding-block-start", 48, 12);
	position: fixed;
	z-index: 9999;
	display: flex;
	width: 100%;
	justify-content: center;
	transition: padding-block-start 250ms;

	@media (max-width: $mobileSmall) {
		position: absolute;
	}

	&._header-scroll {
		padding-block-start: toRem(12);
	}

	&__container {
		@include adaptiveValue("padding", 12, 8, 0, 473, 320);
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: toRem(496);
		width: calc(100% - toRem(30));
		min-height: toRem(64);
		border-radius: toRem(2);
		border: toRem(1) solid oklch(var(--border-default));
		background-color: oklch(var(--bg-muted-primary-alpha));
		row-gap: toRem(15);
		backdrop-filter: blur(toRem(15));

		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}
	&__body {
	}
	&__logo {
		width: toRem(58);
		flex-shrink: 0;
		@media (min-width: $mobileSmall) {
			&:not(:last-child) {
				@include adaptiveValue("margin-inline-end", 32, 12);
			}
		}
	}
	&__menu {
		@media (min-width: $mobileSmall) {
			&:not(:last-child) {
				@include adaptiveValue("margin-inline-end", 16, 8);
			}
		}
	}

	&__button {
		align-self: stretch;
	}
}

.menu {
	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 20, 14);
	}

	&__link {
		@extend .transition-colors;
		&:hover {
			color: oklch(var(--text-primary) / 80%);
		}
	}
}
