.header {
	@include adaptiveValue("top", 48, 12);
	position: sticky;
	z-index: 9999;
	display: flex;
	width: 100%;
	justify-content: center;
	transition: top 250ms;

	padding-inline: toRem($containerPadding / 2);

	&._header-scroll {
		top: toRem(12);
	}

	&__container {
		@include adaptiveValue("padding", 12, 8, 0, 473, 320);
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: toRem(64);
		border-radius: toRem(2);
		border: toRem(1) solid oklch(var(--border-default));
		background-color: oklch(var(--bg-muted-primary-alpha));
		gap: toRem(15);
		backdrop-filter: blur(toRem(15));
		flex-wrap: wrap;
	}
	&__body {
	}
	&__logo {
		width: toRem(58);
		flex-shrink: 0;
		@media (min-width: $mobileSmall) {
			&:not(:last-child) {
				@include adaptiveValue("margin-inline-end", 32, 12);
			}
		}
	}
	&__menu {
		@media (min-width: $mobileSmall) {
			&:not(:last-child) {
				@include adaptiveValue("margin-inline-end", 16, 8);
			}
		}
	}

	&__button {
		align-self: stretch;
		flex: 1 0 auto;
	}
}

.menu {
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		row-gap: toRem(6);
		@include adaptiveValue("column-gap", 20, 8);
	}

	&__link {
		@extend .transition-colors;
		&:hover {
			color: oklch(var(--text-primary) / 80%);
		}
	}
}
