.hero {
	position: relative;

	&__image {
	}

	&__container {
		position: relative;
	}
	&__block {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 60.5, 24);
		}
	}
}

.page__hero.hero--home {
	@include adaptiveValue("padding-block-start", 615, 160);
	@include adaptiveValue("--offset", 0, 250, 0, $containerWidth, 320);
	min-height: 100svh;

	.hero__image {
		position: absolute;
		top: 0;
		left: 0;
		object-position: center var(--offset);
	}
}

.page__hero.hero--services {
	@include adaptiveValue("padding-block-end", 40, 16);

	.block-hero__title {
		max-width: toRem(600);
	}

	.hero__container {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 64, 24);
		}
	}

	.hero__image {
		aspect-ratio: 1600/966;
		padding-inline: toRem(15);
		max-width: toRem(1600);
		margin-inline: auto;
		display: block;
	}
}

.logos {
	@include adaptiveValue("padding-block-start", 130, 24);
	@include adaptiveValue("padding-block-end", 40, 24);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		column-gap: toRem(32);
		row-gap: toRem(12);
		flex-wrap: wrap;

		@media (min-width: $mobile) {
			justify-content: space-between;
		}
	}
}

.services {
	@include adaptiveValue("padding-block-start", 40, 24);
	@include adaptiveValue("padding-block-end", 80, 24);

	&__container {
		display: grid;
		@include adaptiveValue("column-gap", 32, 16);
		row-gap: toRem(12);
		grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
	}
}

.selected-work {
	@include adaptiveValue("padding-block-start", 80, 24);
	@include adaptiveValue("padding-block-end", 80, 24);
	container-type: inline-size;
	container-name: selected-work;

	&__header {
	}

	&__container {
	}

	&__block {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 100, 20);
		}
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("column-gap", 32, 24);
		row-gap: toRem(20);

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		aspect-ratio: 684 / 513;
	}
}

@container selected-work (max-width: toEm(375)) {
	.selected-work__title {
		text-align: center;
	}
	.selected-work__header {
		flex-direction: column;
	}
}

.process {
	@include adaptiveValue("padding-block-start", 80, 24);
	@include adaptiveValue("padding-block-end", 80, 24);

	&__block {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 112, 40);
		}

		@media (max-width: $mobile) {
			.block-hero__goto {
				display: none;
			}
		}
	}

	&__body {
		@include adaptiveValue("--offset", 120, 60, 0, $containerWidth, 991.98);

		position: relative;
		display: grid;
		grid-template-columns: repeat(2, minmax(toRem(290), toRem(600)));
		gap: toRem(16);

		@media (min-width: $mobile) {
			@include adaptiveValue("column-gap", 200, 80, 0, $containerWidth, 991.98);
			align-items: flex-start;
		}

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}

		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: toRem(1);
			left: 50%;
			top: 0;
			transform: translate(-50%, 0);
			background-color: oklch(var(--border-default));

			@media (max-width: $mobile) {
				display: none;
			}
		}

		counter-reset: item 1;
	}

	&__item {
		position: relative;

		@media (min-width: $mobile) {
			&:nth-child(2n + 3) {
				margin-block-start: toRem(385);
			}
			&:nth-child(odd) {
				grid-column: 2;
			}
		}

		@media (min-width: $mobile) {
			&:last-child {
				&::after {
					content: "";
					position: absolute;
					width: toRem(40);
					height: calc(50% - toRem(34));
					background-color: oklch(var(--bg-secondary));
					left: -2px;
					bottom: 0;
					transform: translate(calc(var(--offset) * -1), 0%);
				}
			}
		}

		&:nth-child(even) {
			&::before {
				left: auto;
				right: -1px;
				transform: translate(calc(var(--offset)), -50%);
			}
		}

		&:first-child {
			&::before {
				counter-increment: none !important;
			}
		}

		&::before {
			counter-increment: item;
			content: counters(item, ".", decimal-leading-zero);
			position: absolute;
			top: 50%;
			left: -1px;
			transform: translate(calc(var(--offset) * -1), -50%);
			width: toRem(40);
			height: toRem(40);
			@extend .badge;

			box-shadow:
				0px toRem(-16) 0px oklch(var(--bg-secondary)),
				0px toRem(16) 0px oklch(var(--bg-secondary));

			@media (max-width: $mobile) {
				display: none;
			}
		}
	}
}

.testimonials {
	@include adaptiveValue("padding-block-start", 80, 24);
	$containerWidthSecondary: 1230;

	&__container {
		max-width: toRem($containerWidthSecondary);
	}

	&__block {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 64, 24);
		}
	}

	&__body {
		display: grid;
		row-gap: toRem(12);

		@media (min-width: toEm(1000)) {
			align-items: flex-start;
		}

		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
			@include adaptiveValue("column-gap", 32, 16, 0, 1200, 991.98);
		}
	}

	&__item {
		@media (min-width: toEm(1000)) {
			&:nth-child(2n + 4) {
				margin-block-start: toRem(20);
			}
		}
		@media (max-width: toEm(1000)) {
			.block-card__text {
				flex: 1 1 auto;
			}
		}
	}
}

.about-section {
	$containerWidthSecondary: 1230;
	@include adaptiveValue("padding-block-start", 80, 24);
	@include adaptiveValue("padding-block-end", 232, 80, 0, $containerWidthSecondary, 767.98);
	min-height: 100svh;
	position: relative;

	&__decorations {
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__container {
		position: relative;
		max-width: toRem($containerWidthSecondary);
	}

	&__body {
		position: relative;
		min-height: 100svh;
		display: grid;
		@include adaptiveValue("padding-block-start", 773, 100, 0, $maxWidth, $minWidth);
		@include adaptiveValue("column-gap", 64, 32, 0, $containerWidthSecondary, $minWidth);
		row-gap: toRem(24);

		@media (min-width: $mobile) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: $mobile) {
			grid-auto-rows: min-content;
		}
	}

	&__title {
		@include adaptiveValue("font-size", 48, 24);
		line-height: 110%;
		font-weight: 300;

		span {
			font-family: "Gambetta";
			font-style: italic;
		}
	}

	&__content {
	}

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 20, $containerWidthSecondary, $minWidth);
		}
	}

	&__socials {
		display: flex;
		column-gap: toRem(10);
	}
}

.decorations-about-section {
	display: flex;
	position: absolute;
	top: 20.84vw;
	column-gap: 30vw;

	@media (max-width: $mobileSmall) {
		column-gap: 10vw;
	}
	&__block {
	}

	&__item {
		font-size: 6.67vw;
		font-weight: 300;
		white-space: nowrap;

		span {
			font-family: "Gambetta";
			font-style: italic;
		}
	}
}

.cta {
	background-color: oklch(var(--bg-muted-primary-alpha));

	&__container {
		@include adaptiveValue("padding-block-start", 189, 80);
		@include adaptiveValue("padding-block-end", 309, 100, 0, $containerWidth, $minWidth);
	}
}

.stats {
	@include adaptiveValue("padding-block-start", 80, 24);
	@include adaptiveValue("padding-block-end", 80, 24);

	&__container {
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("column-gap", 64, 22, 0, $containerWidthSecondary, 767.98);
		row-gap: toRem(22);
		flex-wrap: wrap;
	}
	&__item {
		flex: 1 1 toRem(252);
	}
	&__super-title {
		&:not(:last-child) {
			margin-block-end: toRem(4);
		}
	}
	&__text {
		line-height: 110%;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		@include adaptiveValue("font-size", 64, 48, 0, $containerWidthSecondary, $minWidth);
	}
}

.steps {
	@include adaptiveValue("padding-block-end", 160, 80);
	@include adaptiveValue("padding-block-start", 80, 24);
}

.section-block {
	&:not(:last-child) {
		@include adaptiveValue("margin-block-end", 32, 24, 0, $containerWidthSecondary, $minWidth);
	}

	&__body {
		background: rgba(218, 197, 167, 0.05);
	}

	&__header {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 48, 24, 0, $containerWidthSecondary, $minWidth);
		}
	}

	&__super-title {
		&:not(:last-child) {
			margin-block-end: toRem(16);
		}
	}

	&__title {
		@include adaptiveValue("font-size", 64, 24, 0, $containerWidthSecondary, $minWidth);
		font-weight: 300;
		line-height: 110%;
	}

	&__image {
		aspect-ratio: 1072 / 804;
		img {
			border-radius: toRem(1.531);
			border: toRem(0.766) solid oklch(var(--border-default));
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 48, 24, 0, $containerWidthSecondary, $minWidth);
		}
	}

	&__content {
	}

	&__item {
		display: flex;
		row-gap: toRem(12);
		@include adaptiveValue("column-gap", 24, 12, 0, $containerWidthSecondary, $minWidth);

		@media (max-width: $mobile) {
			flex-wrap: wrap;
		}
	}

	&__separator {
		height: toRem(1);
		background-color: oklch(var(--border-default));
		@include adaptiveValue("margin-block", 48, 24, 0, $containerWidthSecondary, $minWidth);
	}

	&__name {
		flex: 1 0 toRem(250);
		min-width: toRem(160);
	}

	&__text {
	}
}

.contact {
	&__container {
		display: grid;
		@media (min-width: $mobile) {
			grid-template-columns: 51.35% 42.85%;
		}
		@include adaptiveValue("gap", 80, 20);
		justify-content: space-between;
	}

	&__image {
		aspect-ratio: 719 / 814.6;
	}

	&__body {
		@media (max-width: $mobile) {
			grid-row: 1;
		}
	}

	&__form {
		width: 100%;
		@include adaptiveValue("padding", 48, 24);
		border-radius: toRem(2);
		border: toRem(1) solid oklch(var(--border-default));
		background: oklch(var(--bg-muted-primary-alpha));
		align-self: flex-start;
	}

	&__header {
		&:not(:last-child) {
			margin-block-end: toRem(32);
		}
	}

	&__super-title {
		&:not(:last-child) {
			margin-block-end: toRem(8);
		}
	}

	&__title {
	}

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: toRem(16);
	}

	&__input {
		&--name {
		}
		&--email {
		}
		&--textarea {
			min-height: toRem(200);
			resize: vertical;
		}
	}

	&__button {
		justify-content: center;
	}
}

.blog {
	$containerWidthNew: 1600;
	&__container {
		max-width: toRem($containerWidthNew + $containerPadding);
	}

	&__block {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 64, 20, 0, $containerWidthNew, $minWidth);
		}
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
		@include adaptiveValue("gap", 32, 16, 0, $containerWidthNew, $minWidth);

		@media (min-width: $tablet) {
			grid-template-columns: repeat(3, minmax(25.75%, 1fr));
			grid-auto-rows: 1fr;
		}
	}

	&__item {
	}
}

.item-blog {
	$containerWidthNew: 1600;
	display: flex;
	flex-direction: column;

	> a {
		aspect-ratio: 416 / 270;
		&:not(:last-child) {
			margin-block-end: toRem(32);
		}
	}

	&__image {
		border-radius: toRem(1);
		border: toRem(1) solid oklch(var(--border-default));
	}

	&__content {
		flex: 1;
		&:not(:last-child) {
			margin-block-end: toRem(32);
		}
	}

	&__date {
		display: block;
		line-height: 120%;
		text-transform: uppercase;
		font-family: "Chillax";
		color: oklch(var(--text-muted));

		&:not(:last-child) {
			margin-block-end: toRem(8);
		}
	}

	&__title {
		&:not(:last-child) {
			margin-block-end: toRem(8);
		}
	}

	&__text {
	}

	&__label {
		align-self: flex-start;
	}
}

.about {
	&__container {
		display: grid;
		grid-template-columns: 1fr;
		@include adaptiveValue("gap", 80, 20, 0, $containerWidth, 767.98);

		@media (min-width: $mobile) {
			grid-template-columns: 37.14% 57.14%;
		}
	}

	&__image {
		aspect-ratio: 520/590;

		@media (min-width: $mobile) {
			position: sticky;
			@include adaptiveValue("top", 64, 24);
		}
	}

	&__content {
		@include adaptiveValue("padding-block-start", 64, 24);
		display: flex;
		flex-direction: column;
		row-gap: toRem(16);
	}

	&__block {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 128, 20, 0, $containerWidth, 767.98);
		}
	}

	@media (max-width: $mobile) {
		.block-hero__goto {
			display: none;
		}
	}

	&__bio {
	}

	&__socials {
	}
}

.bio-about {
	&__super-title {
		&:not(:last-child) {
			margin-block-end: toRem(16);
		}
	}

	&__title {
		&:not(:last-child) {
			margin-block-end: toRem(16);
		}
	}

	&__image {
		aspect-ratio: 704 / 417;
		border-radius: toRem(2);
		border: toRem(1) solid oklch(var(--border-default));

		&:not(:last-child) {
			margin-block-end: toRem(16);
		}

		&:not(:first-child) {
			margin-block-start: toRem(16);
		}
	}
}

.awards-bio {
	&__super-title {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 32, 24);
		}
	}
	&__list {
	}
	&__item {
		container-type: inline-size;
		container-name: awards-link;
	}

	&__link {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(12);
		transition: color 150ms;
		&:hover {
			color: oklch(var(--text-muted));
		}
		span {
			&:first-child {
				@include adaptiveValue("font-size", 20, 16);
				letter-spacing: toRem(1);
				line-height: 140%;
				font-weight: 300;
			}
			&:last-child {
				line-height: 160%;
				letter-spacing: toRem(1.5);
				text-transform: uppercase;
			}
		}
	}

	&__separator {
		@include adaptiveValue("margin-block", 24, 12);
		height: toRem(1);
		background-color: oklch(var(--border-default));
	}
}

.blog-single {
	@include adaptiveValue("padding-block-end", 64, 32);
}

.stats-work-single {
	padding-block-end: toRem(16);
	&__container {
	}

	&__list {
		display: flex;
		justify-content: space-between;
		gap: toRem(16);
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		gap: toRem(16);
		flex: 1 1 toRem(290);
		border-radius: toRem(2);
		border: toRem(1) solid oklch(var(--border-default));
		background: oklch(var(--bg-muted-primary-alpha));
		@include adaptiveValue("padding", 32, 16);
	}
}

.article-blog-single {
	@include adaptiveValue("padding-block-end", 64, 12);
	&__image {
		img {
			border-radius: toRem(1);
			border: toRem(1) solid oklch(var(--border-default));
		}

		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 80, 20);
		}
	}

	&__content {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 48, 24);
		}
	}

	&__conclusion {
		&:not(:last-child) {
			margin-block-end: toRem(16);
		}

		.block-card__figcaption {
			span {
				&:first-child {
					font-weight: 300;
					font-size: toRem(20);
				}
				&:last-child {
					font-family: "Satoshi";
					font-weight: 400;
					letter-spacing: toRem(1.5);
				}
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&:not(:last-child) {
			margin-block-end: toRem(16);
		}
	}
	p {
		&:not(:last-child) {
			@include adaptiveValue("margin-block-end", 48, 24);
		}
	}
}

.related-news-blog-single {
	@include adaptiveValue("padding-block-start", 64, 12);
	@include adaptiveValue("padding-block-end", 128, 80);
	$containerWidthNew: 1600;

	&__container {
		max-width: toRem($containerWidthNew + $containerPadding);
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
		@include adaptiveValue("gap", 32, 16, 0, $containerWidthNew, $minWidth);

		@media (min-width: $tablet) {
			grid-template-columns: repeat(3, minmax(25.75%, 1fr));
			grid-auto-rows: 1fr;
		}
	}
}
